body{
    background-color: #222222;
}

.header{
    background-image: url(./images/cover.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 90%;
    width: 100%;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap{
    text-align: center;
    margin-top: auto;
}

.title{
    letter-spacing: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 30px;
}
.minititle{
    border-bottom: 4px solid #25559b;
    padding-bottom: 20px;
    margin-bottom: -20px;
    font-size: 16px;
}

.list-wrap{
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 100px auto;
    position: relative;
}

.list-wrap::after{
    content: '';
    position: absolute;
    width: 5px;
    background-color: #1c90ff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 125px;
    margin-bottom: -500px;

}
.photoshop{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    width: 550px;
    border-radius: 20px;
    position: relative;
}

.photoshop::after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #111111;
display: block;
width: 0;
margin-top: -15px;
right: -15px;
top: 50%;
}

.photoshop::before{
    z-index: 9;
    content: '';
    position: absolute;
    background-color: #222222;
    border-radius: 50%;
    border: 5px solid #1c90ff;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    right: -40px;
    top: 50%;
}

.photoshop:nth-child(even):before{
    left: -40px;
}


.photoshop img{
    width: 120px;
    height: 120px;
    margin-top: -40px;
    margin-left: 20px;
}

.photoshop:nth-child(even){
    background-color: #111111;
    margin-left: auto;
    
}

.photoshop:nth-child(even) img{
    float: right;
    margin-right: 20px;
}

.photoshop:nth-child(even)::after{
    border-width: 15px 15px 15px 0;
    left: -15px;
}
.title-wrap{
    margin: 20px 20px 30px;
}
.year{
    font-size: 70px;
    font-weight:900;
    color: #1c90ff;
}

.version {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.photoshop:nth-child(odd) .title-wrap{
    float: right;
}

.photoshop:nth-child(odd) .version{
    text-align: right;
}

.listbox{
    margin: 0 auto;
    padding: 30px 60px;
    background-color: black;
    color: #999999;
    width: 90%;
    list-style-type: disc;
    box-sizing: border-box;
    border-radius: 30px 30px 0 0;
    margin-top: auto;
}

.listbox li {
    margin-bottom: 10px;
}
.listbox li:last-child{
    margin-bottom: 0;
}